<div class="flex flex-col md:flex-row h-screen bg-black">
  <!-- Sidebar - responsive -->
  <nav *ngIf="!isAuthRoute()" class="w-full md:w-64 bg-black text-gray-300 flex flex-col md:h-screen">
    <!-- Logo -->
    <div class="p-4 md:p-6">
      <div class="text-xl md:text-2xl font-bold text-spotify-green">MusicStreams</div>
    </div>
    
    <!-- Navigation principale -->
    <div class="flex-1 px-2">
      <div class="flex md:flex-col space-x-4 md:space-x-0 md:space-y-2 justify-center md:justify-start">
        <a routerLink="/library" 
           routerLinkActive="text-spotify-green"
           class="flex items-center px-3 md:px-4 py-2 text-sm font-medium rounded-md hover:text-white transition-colors">
          <mat-icon class="mr-2 md:mr-3">library_music</mat-icon>
          <span class="hidden md:inline">Bibliothèque</span>
        </a>
        
        <a routerLink="/add-track"
           routerLinkActive="text-spotify-green"
           class="flex items-center px-3 md:px-4 py-2 text-sm font-medium rounded-md hover:text-white transition-colors">
           <mat-icon class="mr-2 md:mr-3">add_circle</mat-icon>
           <span class="hidden md:inline">Ajouter une chanson</span>
        </a>
      </div>
    </div>
  </nav>

  <!-- Contenu principal -->
  <main [ngClass]="{'flex-1': !isAuthRoute(), 'w-full': isAuthRoute()}" class="p-4 md:p-6 bg-gradient-to-b from-gray-900 to-black min-h-screen overflow-y-auto">
    <div class="px-2 md:px-8 py-4 md:py-6">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
